* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    padding-top: 10px;
}

.card {
    margin-bottom: 15px;
    border-radius: 4px;
    text-align: center;
    max-height: 170px;
    min-height: 90px;
    font-size: 30px;
    box-shadow: 1px 1px 8px rgba(165, 165, 165, 0.5);   
    user-select: none;
    background-color: rgb(247, 247, 247);
    padding: 0;
}

.card p {
    margin-top: 20px;
}

.card img {
    max-height: 150px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 12px;
}

.card:hover {
    box-shadow: 1px 1px 8px rgba(165, 165, 165, 1);   
    cursor: pointer;
}

.card:active {
    box-shadow: 0px 0px 5px rgba(165, 165, 165, 1);
}

.question-card  {
    box-shadow: 1px 1px 8px rgba(165, 165, 165, 0.5);   
    border-radius: 4px;
    max-height: 170px;
    min-height: 100px;
    font-size: 50px;
    text-align: center;
    margin-bottom: 15px;
    background-color: rgb(247, 247, 247);
    padding: 0;
}

.question-card img {
    max-height: 150px;
    box-sizing: border-box;
    margin-top: 10px;
}

.question-card p {
    padding-top: 8px;
}

#answer-type-form label{
    display: inline-block;
}

.disabled-click {
    pointer-events: none;
}

#start-button {
    margin-top: 29px;
}

#info {
    margin-top: 29px;
}


/* mobile version */
@media screen and (max-width: 800px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .container div:first-child {
        order: 1;
    }

    .card:hover {
        box-shadow: 1px 1px 8px rgba(165, 165, 165, 0.5);   
    }

    .card {
        height: 100px;
    }

    .card img {
        height: 90%;
        margin-top: 5px;
    }

    .question-card {
        font-size: 40px;
        min-height: 60px;
        font-weight: bold;
    }

    .question-card p {
        padding-top: 0px;
    }
}